@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fonte "Red Hat Display" */
@font-face {
    font-family: "Red Hat Display";
    src: url("Red_Hat_Display/static/RedHatDisplay-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Red Hat Display";
    src: url("Red_Hat_Display/static/RedHatDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Red Hat Display";
    src: url("Red_Hat_Display/static/RedHatDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Red Hat Display";
    src: url("Red_Hat_Display/static/RedHatDisplay-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Red Hat Display";
    src: url("Red_Hat_Display/static/RedHatDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Red Hat Display";
    src: url("Red_Hat_Display/static/RedHatDisplay-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Red Hat Display";
    src: url("Red_Hat_Display/static/RedHatDisplay-Black.ttf") format("truetype");
    font-weight: 900;
}

/* Fonte "Oswald" */
@font-face {
    font-family: "Oswald";
    src: url("Oswald/static/Oswald-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Oswald";
    src: url("Oswald/static/Oswald-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Oswald";
    src: url("Oswald/static/Oswald-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Oswald";
    src: url("Oswald/static/Oswald-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Oswald";
    src: url("Oswald/static/Oswald-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Oswald";
    src: url("Oswald/static/Oswald-Bold.ttf") format("truetype");
    font-weight: 700;
}