.main_login {
    flex-direction: column;

    header {

        h1 {
            text-transform: uppercase;
            font-size: 1.6em;
            margin-bottom: 20px;
        }
    }

    form {
        margin-bottom: 20px;

        &>* {
            margin-bottom: 10px;
        }
    }
}