 /*
CSS HEX 
--rich-black-fogra-29: #0c0e14ff;
--rich-black-fogra-29-2: #141722ff;
--black-coral: #415267ff;
--opal: #94bdbcff;
--celeste: #ccfff7ff;

CSS HSL
--rich-black-fogra-29: hsla(225, 25%, 6%, 1);
--rich-black-fogra-29-2: hsla(227, 26%, 11%, 1);
--black-coral: hsla(213, 23%, 33%, 1);
--opal: hsla(179, 24%, 66%, 1);
--celeste: hsla(171, 100%, 90%, 1);
*/