
.trigger {
    width: 100%;
    display: block;
    background-color: $trigger;
    padding: 10px;
    font-weight: 600;
    border-radius: $radius-small;

    margin-bottom: 20px;

    &>svg {
        margin-right: 10px;
        font-size: 1.2em;
    }

    &.trigger-success {
        background-color: $trigger-success;
    }

    &.trigger-info {
        background-color: $trigger-info;
    }

    &.trigger-warning {
        background-color: $trigger-warning;
    }

    &.trigger-error {
        background-color: $trigger-error;
    }

    &.trigger-outline {
        background: none;
        color: $trigger;
        border: 2px solid $trigger;
        text-shadow: none;

        &>i {
            margin-right: 10px;
            font-size: 1.2em;
        }

        &.trigger-success {
            background: none;
            color: $trigger-success;
            border: 2px solid $trigger-success;
        }

        &.trigger-info {
            background: none;
            color: $trigger-info;
            border: 2px solid $trigger-info;
        }

        &.trigger-warning {
            background: none;
            color: $trigger-warning;
            border: 2px solid $trigger-warning;
        }

        &.trigger-error {
            background: none;
            color: $trigger-error;
            border: 2px solid $trigger-error;
        }
    }
}