/* Configurações do Site */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $red-hat;
}

body {
    background-color: $rich-black-fogra;
    color: #FFF;
}

a {
    text-decoration: none;
    color: $celeste;

    &:hover {
        color: $opal;
    }
}

input,
select,
textarea {
    padding: 12px;
    border: none;
    border-radius: $radius-small;
    outline: none;
}

input[type=checkbox],
input[type=radio] {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

embed,
video,
iframe,
iframe[style] {
    max-width: 100%;
    height: auto;
}

svg {
    margin-bottom: -3px;
}