/* Paleta de cores */
/* Primárias */
$rich-black-fogra: #0C0E14;
$rich-black-fogra-2: #141722;
$independence: #415268;
$opal: #94BDBC;
$celeste: #CCFFF7;

/* Secundárias */
/* Rich Black FOGRA - RBF */
$rbf-shadow-1: #1F2433;
$rbf-shadow-2: #3A4461;
$rbf-shadow-3: #6070A1;

/* Rich Black FOGRA 2 - RBF2 */
$rbf2-modal: rgba(20, 23, 34, 0.8);

/* Celeste - CEL */
$cel-shadow-1: #B8E6DF;
$cel-shadow-2: #99BFBA;
$cel-shadow-3: #66807C;
$cel-shadow-4: #33403E;

$celeste-hover: rgba(204, 255, 247, 0.8);

/* Cores de avisos (Triggers) */
$trigger: $opal;
$trigger-success: #45B645;
$trigger-info: #4481D1;
$trigger-warning: #CCB031;
$trigger-error: #E94B4B;

/* Gradientes */
/* Rich Black FOGRA - RBF */

/* normal */
$rbf-gradient-1: linear-gradient(90deg, $rich-black-fogra, $rbf-shadow-1, $rbf-shadow-2, $rbf-shadow-3);

$rbf-gradient-2: linear-gradient(90deg, $rich-black-fogra, $rbf-shadow-1, $rbf-shadow-2);
$rbf-gradient-3: linear-gradient(90deg, $rbf-shadow-1, $rbf-shadow-2, $rbf-shadow-3);

$rbf-gradient-4: linear-gradient(90deg, $rich-black-fogra, $rbf-shadow-1);
$rbf-gradient-5: linear-gradient(90deg, $rbf-shadow-1, $rbf-shadow-2);
$rbf-gradient-6: linear-gradient(90deg, $rbf-shadow-2, $rbf-shadow-3);

/* reverso */
$rbf-gradient-rev-1: linear-gradient(90deg, $rbf-shadow-3, $rbf-shadow-2, $rbf-shadow-1, $rich-black-fogra);

$rbf-gradient-rev-2: linear-gradient(90deg, $rbf-shadow-2, $rbf-shadow-1, $rich-black-fogra);
$rbf-gradient-rev-3: linear-gradient(90deg, $rbf-shadow-3, $rbf-shadow-2, $rbf-shadow-1);

$rbf-gradient-rev-4: linear-gradient(90deg, $rbf-shadow-1, $rich-black-fogra);
$rbf-gradient-rev-5: linear-gradient(90deg, $rbf-shadow-2, $rbf-shadow-1);
$rbf-gradient-rev-6: linear-gradient(90deg, $rbf-shadow-3, $rbf-shadow-2);

/* para baixo */
$rbf-gradient-bttm-1: linear-gradient($rich-black-fogra, $rbf-shadow-1, $rbf-shadow-2, $rbf-shadow-3);

$rbf-gradient-bttm-2: linear-gradient($rich-black-fogra, $rbf-shadow-1, $rbf-shadow-2);
$rbf-gradient-bttm-3: linear-gradient($rbf-shadow-1, $rbf-shadow-2, $rbf-shadow-3);

$rbf-gradient-bttm-4: linear-gradient($rich-black-fogra, $rbf-shadow-1);
$rbf-gradient-bttm-5: linear-gradient($rbf-shadow-1, $rbf-shadow-2);
$rbf-gradient-bttm-6: linear-gradient($rbf-shadow-2, $rbf-shadow-3);

/* para baixo reverso */
$rbf-gradient-bttm-rev-1: linear-gradient($rbf-shadow-3, $rbf-shadow-2, $rbf-shadow-1, $rich-black-fogra);

$rbf-gradient-bttm-rev-2: linear-gradient($rbf-shadow-2, $rbf-shadow-1, $rich-black-fogra);
$rbf-gradient-bttm-rev-3: linear-gradient($rbf-shadow-3, $rbf-shadow-2, $rbf-shadow-1);

$rbf-gradient-bttm-rev-4: linear-gradient($rbf-shadow-1, $rich-black-fogra);
$rbf-gradient-bttm-rev-5: linear-gradient($rbf-shadow-2, $rbf-shadow-1);
$rbf-gradient-bttm-rev-6: linear-gradient($rbf-shadow-3, $rbf-shadow-2);

/* Celeste - CEL */

/* normal */
$cel-gradient-1: linear-gradient(90deg, $celeste, $cel-shadow-1, $cel-shadow-2, $cel-shadow-3, $cel-shadow-4);

$cel-gradient-2: linear-gradient(90deg, $cel-shadow-1, $cel-shadow-2, $cel-shadow-3, $cel-shadow-4);
$cel-gradient-3: linear-gradient(90deg, $celeste, $cel-shadow-1, $cel-shadow-2, $cel-shadow-3);

$cel-gradient-4: linear-gradient(90deg, $cel-shadow-2, $cel-shadow-3, $cel-shadow-4);
$cel-gradient-5: linear-gradient(90deg, $cel-shadow-1, $cel-shadow-2, $cel-shadow-3);
$cel-gradient-6: linear-gradient(90deg, $celeste, $cel-shadow-1, $cel-shadow-2);

$cel-gradient-7: linear-gradient(90deg, $cel-shadow-3, $cel-shadow-4);
$cel-gradient-8: linear-gradient(90deg, $cel-shadow-2, $cel-shadow-3);
$cel-gradient-9: linear-gradient(90deg, $cel-shadow-1, $cel-shadow-2);
$cel-gradient-10: linear-gradient(90deg, $celeste, $cel-shadow-1);

/* reverso */
$cel-gradient-rev-1: linear-gradient(90deg, $cel-shadow-4, $cel-shadow-3, $cel-shadow-2, $cel-shadow-1, $celeste);

$cel-gradient-rev-2: linear-gradient(90deg, $cel-shadow-4, $cel-shadow-3, $cel-shadow-2, $cel-shadow-1);
$cel-gradient-rev-3: linear-gradient(90deg, $cel-shadow-3, $cel-shadow-2, $cel-shadow-1, $celeste);

$cel-gradient-rev-4: linear-gradient(90deg, $cel-shadow-4, $cel-shadow-3, $cel-shadow-2);
$cel-gradient-rev-5: linear-gradient(90deg, $cel-shadow-3, $cel-shadow-2, $cel-shadow-1);
$cel-gradient-rev-6: linear-gradient(90deg, $cel-shadow-2, $cel-shadow-1, $celeste);

$cel-gradient-rev-7: linear-gradient(90deg, $cel-shadow-4, $cel-shadow-3);
$cel-gradient-rev-8: linear-gradient(90deg, $cel-shadow-3, $cel-shadow-2);
$cel-gradient-rev-9: linear-gradient(90deg, $cel-shadow-2, $cel-shadow-1);
$cel-gradient-rev-10: linear-gradient(90deg, $cel-shadow-1, $celeste);

/* para baixo */
$cel-gradient-bttm-1: linear-gradient($celeste, $cel-shadow-1, $cel-shadow-2, $cel-shadow-3, $cel-shadow-4);

$cel-gradient-bttm-2: linear-gradient($cel-shadow-1, $cel-shadow-2, $cel-shadow-3, $cel-shadow-4);
$cel-gradient-bttm-3: linear-gradient($celeste, $cel-shadow-1, $cel-shadow-2, $cel-shadow-3);

$cel-gradient-bttm-4: linear-gradient($cel-shadow-2, $cel-shadow-3, $cel-shadow-4);
$cel-gradient-bttm-5: linear-gradient($cel-shadow-1, $cel-shadow-2, $cel-shadow-3);
$cel-gradient-bttm-6: linear-gradient($celeste, $cel-shadow-1, $cel-shadow-2);

$cel-gradient-bttm-7: linear-gradient($cel-shadow-3, $cel-shadow-4);
$cel-gradient-bttm-8: linear-gradient($cel-shadow-2, $cel-shadow-3);
$cel-gradient-bttm-9: linear-gradient($cel-shadow-1, $cel-shadow-2);
$cel-gradient-bttm-10: linear-gradient($celeste, $cel-shadow-1);

/* para baixo reverso */
$cel-gradient-bttm-rev-1: linear-gradient($cel-shadow-4, $cel-shadow-3, $cel-shadow-2, $cel-shadow-1, $celeste);

$cel-gradient-bttm-rev-2: linear-gradient($cel-shadow-4, $cel-shadow-3, $cel-shadow-2, $cel-shadow-1);
$cel-gradient-bttm-rev-3: linear-gradient($cel-shadow-3, $cel-shadow-2, $cel-shadow-1, $celeste);

$cel-gradient-bttm-rev-4: linear-gradient($cel-shadow-4, $cel-shadow-3, $cel-shadow-2);
$cel-gradient-bttm-rev-5: linear-gradient($cel-shadow-3, $cel-shadow-2, $cel-shadow-1);
$cel-gradient-bttm-rev-6: linear-gradient($cel-shadow-2, $cel-shadow-1, $celeste);

$cel-gradient-bttm-rev-7: linear-gradient($cel-shadow-4, $cel-shadow-3);
$cel-gradient-bttm-rev-8: linear-gradient($cel-shadow-3, $cel-shadow-2);
$cel-gradient-bttm-rev-9: linear-gradient($cel-shadow-2, $cel-shadow-1);
$cel-gradient-bttm-rev-10: linear-gradient($cel-shadow-1, $celeste);