/* Imagens em plano de fundo */
.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Validação de Formulário */
.required-field {
    border: 2px solid $trigger-error;
}

/* Botões */
.btn {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    color: $rich-black-fogra-2;

    padding: 8px 24px;

    background-color: $celeste;
    border: none;
    border-radius: $radius;
    cursor: pointer;

    display: inline-block;

    &:hover {
        color: $rich-black-fogra-2;
        background-color: $opal;
    }

    &.btn-outline {
        border: 2px solid $celeste;
        color: $celeste;
        background: none;

        &:hover {
            border: 2px solid $opal;
            color: $opal;
            background: none;
        }
    }

    &.btn-small {
        font-size: 0.8em;
    }

    &.btn-big {
        font-size: 1.4em;
        font-weight: 900;
    }
}

/* Configurações de Display */
.transition {
    transition: $hover-transition-property $hover-transition-duration $hover-transition-timing-function;
}

.no-display {
    display: none !important;
}

.radius {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

.rounded {
    border-radius: $rounded;
    -moz-border-radius: $rounded;
    -webkit-border-radius: $rounded;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-1 {
    flex-basis: 100%;
}

.flex-2 {
    flex-basis: 50%;
}

.flex-3 {
    flex-basis: 33.33%;
}

.flex-4 {
    flex-basis: 25%;
}

/* Contêiner do site */
.container-full {
    width: 100%;
    padding: 0 20px;
}

.container-in {
    max-width: $container-max-width;
    margin: 0 auto;
}

/* Contêiner de conteúdo incorporado */
.embed-container {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;

    embed,
    video,
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Posição de Elementos */
.relative-position {
    position: relative;
}

.absolute-position {
    position: absolute;
    top: 0;
    left: 0;
}

.fixed-position {
    position: fixed;
    top: 0;
    left: 0;
}