/* Valor do "border-radius" */
$radius: 10px;
$radius-small: 4px;
$rounded: 50%;

/* Tamanho Máximo do Contêiner */
$container-max-width: 1300px;

/* Propriedades de transição com "hover" */
$hover-transition-duration: 0.3s;
$hover-transition-property: all;
$hover-transition-timing-function: linear;

/* Tipografia (Fontes) */
$red-hat: 'Red Hat Display', sans-serif;
$oswald-font: 'Oswald', sans-serif;